body {
  font-family: sans-serif;
  font-size: 14px;
}


.container {
  border: solid 1px black;
  height: 380px;
  margin: 120px auto;
  position: relative;
  width: 100%;
  
}

/*NAVIGATION*/

.nav {
background-color: white;
}

.nav ul {
  border-bottom: 1px solid black;
  display: flex;
  font-size: 11px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav img {
  height: auto;
  max-width: 14px;
}

li {
  border-left: 1px solid black;
  flex: 1;
  list-style: none;
  padding: 12px;
}

li:hover {
  background-color: #88b22c; 
  cursor: pointer;
  color: #f7f975;
}

/*CONTENT*/

h1 {
  color: #53b5a8;
  font-size: 18px;
  font-weight: bold;
}

h2 {
  color: #53b5a8;
  font-size: 16px;
  font-weight: bold;
}

.tab1 {
  border-left: none;
}
.content {
  height: 335px;
  overflow: scroll;
  position: relative;
}

.content2, 
.content3 {
  display: none;
}

.content2 {
  padding: 10px;
}
.content1 {
  padding: 2px;
}
.content3 {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.content1 span {
  border: 5px solid #fff;
  box-sizing: border-box;
  float: left;
  height: 75px;
  overflow: hidden;
  width: 25%;
}

.map {
  height: 100%;
  width: 100%;
}

@media (min-width: 960px ) {

.container {
  width: 300px;
  height: 380px;
  }
}

